<div class="center jumbotron" id='homepage'>
  <h1 id='abouttitle'>Hong Kong's premier social trading network</h1>
  <h5 id='aboutp'><span id='green'>Discover a smarter investing strategy</span> - <br> Learn from leading traders and make friends in our community</h5>
</div>
