$navbar-default-bg: #c2ead1;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-fixed-top {
  margin-bottom: 50px;
}

#homepage {
  background-image: asset-url('plant.jpg');
  background-size: cover;
  height: 490px;
  padding-left: 80px;
  padding-top: 15px;
}

#green {
  color: green
}

#abouttitle {
  font-size: 40px;
  font-family: Calibri;
  position: relative;
  color: white;
}

#aboutp {
  font-size: 25px;
  line-height: 30px;
  width: 50%;
  font-family: Calibri;
  padding-top: 120px;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
